<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <title>Holium OS Sandbox</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
